#generate-button {
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}
#lotto-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  border: 1px solid black;
  padding: 5px;
}
